@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}
